.logo1{
    width: 80px;
    margin-left: 0px;
    margin-top: -25px;
    border-radius: 100%;
    float: left;
    margin-right: 20px;
}
.box1{
    position: fixed;
}
.box1 ul {
    text-align: left;
    display: inline;
    padding: 45px 0px 17px 0;
    background-color: white;
    padding-bottom: 75px;
    box-shadow: rgba(179, 172, 168, 0.55) 0px 0px 15px -4px;
    font-family: 'Maitree', serif;
}
.box1 ul li {
    display: inline-block;
    margin-right: 2.5px;
    margin-top: 10px;
    position: relative;
    padding: 10px 60px;
    transition: color 0.3s;
    vertical-align: top;
    font-size: 25px;
    font-family: 'Maitree', serif;
    cursor: pointer;
    text-decoration: none;
}
.box1 ul li:hover{
   color: #a7db16;
}

.box2 {
    background-color: white;
    padding-top: 10px;
    font-family: 'Maitree', serif;
    font-size: 28px;
}
.box2 h1{
    margin-left: 150px;
    margin-top: 150px;
}
.box2 h2{
    margin-left: 150px;
    margin-bottom: -150px;
}
.desc1{
    margin-left: 150px;
}
.img1{
    float: right;
    width: 550px;
    margin-right: 50px;
    margin-top: 100px;
}
.but1{
    background-color: rgb(141, 216, 87);
    margin-left: 150px;
    color: rgb(74, 74, 74);
    font-family: 'Maitree', serif;
    font-size: 40px;
    border-radius: 4px;
    text-align: center;
    border: none;
    transition: opacity 0.3s;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 30px;
    padding-right: 30px;
    cursor: pointer;
}
.but1:hover{
    opacity: 0.85;
}
.box3 {
    margin-top: -100px;
    background-color: white;
    padding-top: 25px;
    padding-bottom: 40px;
    font-family: 'Maitree', serif;
    font-size: 25px;
    box-shadow: rgba(179, 172, 168, 0.55) 0px 0px 15px -4px;
}
.box3 h1{
    margin-bottom: -30px;
}

.desc2{
    margin-left: 150px;
    margin-right: 150px;
}

a{
    text-decoration: none;
    color: black;
    transition: color 0.3s;
    
}

a:hover{
    color: #a7db16;
}

.countdown{
background-color: rgb(141, 216, 87);
color: white;
box-shadow: rgba(179, 172, 168, 0.55) 0px 0px 15px -4px;
}

#demo{
    font-size: 90px;
    margin-left: 390px;
    margin-top: -50px;
    font-family: 'Maitree', serif;
    padding-top: 40px;
    padding-bottom: 40px;

}
.box4{
    background-color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Maitree', serif;
    font-size: 25px;
}
.desc3{
    margin-left: 150px;
    margin-right: 150px;
}

.box5{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Maitree', serif;
    font-size: 25px;
}
.box5 h1{
    margin-bottom: -30px;
}

.box5 b{
    font-size: 35px;
}

.desc4{
    margin-left: 150px;
    margin-right: 150px;
}